<div v-if="viewPage === 'arpage'" class="content ar-content  d-flex flex-column align-items-center">
    <div class="ar-img-title " style="z-index: 5;">
        <img src="../assets/images/home-title.png" alt="Title Image">
    </div>
    <div class="ar-img-bg w-100 h-100">
        <img class="w-100 h-100" src="../assets/images/1points01.png" alt="Background Image">
    </div>
    <div class="btnbox d-flex justify-content-center  " style="z-index: 3;">
        <div>
            <button @click="changeViewPage('instructions02','back')" class="btn-ar  py-3 px-4 btn-secondary  me-2 " type="button">
                上一步
            </button>
        </div>
        <div class="text-center">
            <button @click="changeViewPage('poster')" class="btn-ar btn-primary py-3  px-4  d-flex justify-content-center align-items-center" type="button">
                前往下一關<br>
            </button>
            <span class="text-light">(不掃描直接繼續)</span>
        </div>

      
    </div>
    
    
</div>
<!-- <video src="../assets/images/demo.mp4"></video> -->
 <!-- 相機掃描提醒文字  用於arpage跟arpage02 -->
<div v-show="is_text"  id="scan-message" class="fade-message">請對準相機後 再次掃描</div>
<!-- AR ---->
 <div class="arpage01">


 </div>
