<div v-if="viewPage === 'arpage'" class="content ar-content  d-flex flex-column align-items-center">
    <div class="ar-img-title mb-auto pt-4" style="z-index: 3;">
        <img src="../assets/images/home-title.png" alt="Title Image">
    </div>
    <div class="ar-img-bg w-100 h-100">
        <img class="w-100 h-100" src="../assets/images/1points01.png" alt="Background Image">
    </div>
    <div class="btnbox d-flex justify-content-center  " style="z-index: 3;">
        <div>
            <button @click="changeViewPage('instructions02','back')" class="btn-ar  py-3 px-4 btn-secondary  me-2 " type="button">
                上一步
            </button>
        </div>
        <div class="text-center">
            <button @click="changeViewPage('poster')" class="btn-ar btn-primary py-3  px-4  d-flex justify-content-center align-items-center" type="button">
                前往下一關<br>
            </button>
            <span class="text-light">(不掃描直接繼續)</span>
        </div>

      
    </div>
    
    
</div>


<!-- AR -->
<a-scene
v-if="viewPage == 'arpage' "
class="arbox"
vr-mode-ui="enabled: false;"
renderer="logarithmicDepthBuffer: true;"
embedded
device-orientation-permission-ui="enabled: false"
arjs="trackingMethod: best; sourceType: webcam; debugUIEnabled: false;">

<a-nft
    type="nft"
    url="https://yozuwork.github.io/WEBARImageTracking2.0/assets/tracking_target/marker"
    smooth="true"
    smoothCount="10"
    smoothTolerance="0.01"
    smoothThreshold="5"
    image-tracker-1>
    <a-entity
        gltf-model="https://yozuwork.github.io/WEBARImageTracking2.0/assets/scene.gltf"
        scale="5 5 5"
        position="50 150 0">
    </a-entity>
</a-nft>


<a-entity camera></a-entity>
</a-scene>