<div class="content poster d-flex justify-content-center flex-column " v-if="viewPage === 'poster'">
   <div> <h1 class="poster-h1 pt-6 h1 pt-xl-6 h2 w-100 text-center text-light ">- 稅務知識圖卡 - </h1></div>
    <div class="slides-container ">
        <div id="slides" class="mb-4">
            <div v-for="(imageSrc, index) in slidesData" :key="index" class="slide" :class="{ active: index === currentIndex }">
                <img :src="imageSrc" />
            </div>
        </div>
        <div class="poster-silde-button buttons  d-flex justify-content-center" >
            <button id="prevBtn" class="swiper-button" @click="prevSlide">&lt;</button>
            <span id="slideButtons">
                <button v-for="(imageSrc, index) in slidesData" :key="index" class="swiper-button" :class="{ 'active-button': index <= currentIndex }" @click="showSlide(index)">
                    {{ index + 1 }}
                </button>
            </span>
            <button id="nextBtn" class="swiper-button" @click="nextSlide">&gt;</button>
        </div>
       
    </div>
    <div class="d-flex justify-content-center  poster-bottom-button" >
        <button @click="changeViewPage('arpage','back')" class="btn btn-sm btn-secondary py-3  me-3 d-flex justify-content-center align-items-center" type="button">返回</button>
        <button @click="changeViewPage('arpage02',true)" class="btn btn-sm btn-primary py-3  d-flex justify-content-center align-items-center" type="button">開始答題</button>
    </div>
   


</div>
<!-- -->
<!-- Modal -->
<div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">稅務知識圖卡</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                請點選完三張圖卡即可到下一關
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">明白了</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

